body{
  background-color: #480032;
  text-align: center;
  margin: 0px
}

.base{
  background-color: #005792;
  margin: 0px;
}

.header h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  padding-top: 75px;
  display: block;

}

.nf{
  width: 800px;
  height: 180px;
  display: block;
  margin: 0px auto 0px auto;
}

.banner{
  border-radius: 25px;
  position: relative;
  margin: 50px auto 20px auto;
  width: 725px;
  height: 400px;
  right: 23px;
}

.introduction{
  text-align: justify;
  margin: 100px;
  font-size: 153.75%;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.introduction h4{
  line-height: 0px;
}

.dadadefine{
  text-align: justify;
  margin: auto 100px auto 100px;
  font-size: 153.75%;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.dada h4{
  line-height: 0px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/* .channel-base{
  text-align: left;
  /* position: relative;
  height: 260px;
} */
.col-md-6 p{
    padding-left: 100px;
    margin-left: 0px;
    padding-right: 10px;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 153.75%;
    text-align: left;
}

.col-md-6 .code-toolbar{
  margin-right: 100px;
}

.reverse-detail p{
  padding-right: 100px;
  padding-left: 0px;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 153.75%;
  text-align: left;
}

.reverse-code .code-toolbar{
  margin-left: 100px;
  margin-right: 0px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #005792;
  color: white;
  text-align: center;
}

.footer h4{
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0px auto 0px auto;
  padding-top: 15px;
  display: block;
  font-size: 35px;
  font-weight: normal;
}
.footer p{
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 5px auto 5px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  font-size: 20px;
  font-weight: normal;
}
