body{
  background-color: #480032;
  text-align: center;
  margin: 0px
}

.base{
  background-color: #005792;
}

#pageHeading{
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0px auto 0px auto;
  padding-top: 50px;
  position: relative;
  display: block;
  font-size: 468.75%;
  font-weight: normal;
}

#nf{
  display: block;
  position: relative;
  height: 90px;
  width: 450px;
  margin: 0px auto 0px auto;
  padding: 0px auto 0px auto;
}

#pageSubHeading{
  margin: 0px auto 10px auto;
  color: white;
  font-family: 'Sacramento', cursive;
  font-weight: normal;
  font-size: 193.75%;
}
.introduction{
  color: #d5ecc2;
  text-align: justify;
  margin: 100px;
  font-size: 153.75%;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.introduction h4{
  color: #ffd3b4;
  line-height: 0px;
}

.dada{
  color: #d5ecc2;
  text-align: justify;
  margin: auto 100px auto 100px;
  font-size: 153.75%;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.dada h4{
  color: #ffd3b4;
  line-height: 0px;
}

#image1{
  border-radius: 25px;
  position: relative;
  margin: 50px auto 20px auto;
  width: 725px;
  height: 400px;
  right: 23px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.fastqcbase{
  text-align: left;
  position: relative;
  margin-top: 50px;
  margin-bottom: 0px;
}
.fastqc{
  position: absolute;
  display: inline-block;
  margin: 0px 0px 0px 100px;
  right: 700px;
  text-align: justify;
  padding-right: 30px;
  color: #d5ecc2;
  font-size: 153.75%;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.fastqc h4{
  color: #ffd3b4;
  line-height: 0px;
}

.fastqc-code{
  position: absolute;
  text-align: justify;
  display: inline-block;
  margin-right: 100px;
  right: 20px;
  width: 550px;
  height: 450px;
  padding-left: 10px;
  padding-right: 10px;
}

.multiqcbase{
  text-align: left;
  position: relative;
  margin-top: 550px;
}
.multiqc{
  position: absolute;
  display: inline-block;
  margin: 0px 100px 0px 0pc;
  left: 700px;
  text-align: justify;
  padding-left: 30px;
  color: #d5ecc2;
  font-size: 153.75%;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.multiqc h4{
  color: #ffd3b4;
  line-height: 0px;
}

.multiqc-code{
  position: absolute;
  text-align: justify;
  display: inline-block;
  margin-left: 100px;
  left: 20px;
  width: 550px;
  height: 450px;
  padding-right: 10px;
  padding-left: 10px;
}
hr {
  background-color: #480032;
  border-style: none;
  border-top-style: dotted;
  border-color: #ffc93c;
  border-width: 5px;
  width: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.trimbase{
  text-align: left;
  position: relative;
  margin-top: 1100px;
  margin-bottom: 0px;
}
.trim{
  position: absolute;
  display: inline-block;
  margin: 0px 0px 0px 110px;
  right: 700px;
  text-align: justify;
  padding-right: 50px;
  color: #d5ecc2;
  font-size: 153.75%;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.trim p{
  padding-right: 50px;
}

.trim h4{
  color: #ffd3b4;
  line-height: 0px;
}

.trim-code{
  position: absolute;
  text-align: justify;
  display: inline-block;
  margin-right: 100px;
  right: 20px;
  width: 620px;
  height: 700px;
  padding-left: 20px;
  padding-right: 10px;
}

.derepbase{
  text-align: left;
  position: relative;
  margin-top: 800px;
}
.derep{
  position: absolute;
  display: inline-block;
  margin: 0px 100px 0px 0pc;
  left: 700px;
  text-align: justify;
  padding-left: 40px;
  color: #d5ecc2;
  font-size: 153.75%;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.derep h4{
  color: #ffd3b4;
  line-height: 0px;
}

.derep-code{
  position: absolute;
  text-align: justify;
  display: inline-block;
  margin-left: 100px;
  left: 20px;
  height: 700px;
  width: 580px;
  padding-right: 30px;
  padding-left: 10px;
}
